/node_modules

.env

npm-debug.log*
yarn-debug.log*
yarn.lock
yarn-error.log*
package-lock.json

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# templates upload
/public/uploads/templates

createdb.js
data.json
